<!--HEADER TPL-->
<!--HEADER TPL-->
<!--HEADER TPL-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="stylesheet" href="reset.css" type="text/css">

    <title>{$pageTitle}</title>
  </head>
  
  <body>
  <!--END HEADER TPL-->
  <!--END HEADER TPL-->
  <!--END HEADER TPL-->
    


  <!--LEFT TPL-->
  <!--LEFT TPL-->
  <!--LEFT TPL-->
  <section>
    <div id="main" class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div id="left" class="col-12 text-center">
            <h3>Меню сайта</h3>
            
            <ul class="nav flex-column">
              <li>
                <a class="nav-link bold" href="#">Playboy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Brunette</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blond</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bold" href="#">Others</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Short-haired</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Black</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blond</a>
              </li> 
            </ul>

            <form>
              <strong>Авторизация</strong>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit">Submit</button>
            </form>

            <strong><a href="#">Регистрация</a></strong>
              <p class="cart-info"><a href="#">В корзине </a><span>пусто</span></p>
          </div>
        </div>
        <!--END LEFT TPL-->
        <!--END LEFT TPL-->
        <!--END LEFT TPL-->



        <!--INDEX TPL-->
        <!--INDEX TPL-->
        <!--INDEX TPL-->
        <div class="col-md-8 col-sm-12">
          <div id="center" class="col-12 text-center">
            <h1 class="text-center">my shop</h1>

            <div class="row text-center foto-items">
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
              <div class="col-md-4 col-sm-12 foto-item">
                <a href="/product/{$item['id']}/">
                  <img src="/images/products/{$item['image']}"   alt="{$item['image']}">
                </a>
                <a href="/product/{$item['id']}/">{$item['name']}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
<!--END INDEX TPL-->
<!--END INDEX TPL-->
<!--END INDEX TPL-->