:root {
  --mainColor: #ff9800;
}

html, body {
  background: #1B211B;
}

div, p, a {
  color: #fff !important;
}

#main {
	margin-top: 2rem;
	padding: 0 2rem;
	width: 100%;
    height: 100%;
}
#left {
    margin-top: 2rem;
}

h3 {
	padding: 0;
	margin: 0;
	color: #000;
}
.bold {
	font-weight: 600;
	font-size: 1.25rem;
}
.btn  {
	max-width: 50% !important;
	width: 50% !important;
	margin:  3% 0 3% 25% !important;
	padding: 0 5px;
}

form {
	margin: 1.15rem 0;
	padding: 0;
}
strong {
	margin: 2rem !important;
}
.cart-info {
	margin-top: 2rem 0;
}

/*https://css-tricks.com/having-fun-with-link-hover-effects/*/
.styled {
  margin: .15rem 0;
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.styled:hover {
  text-decoration: none;
  color: #000;
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}

.one-edge-shadow {
	-webkit-box-shadow: 0 2px 6px -6px black;
	-moz-box-shadow: 0 8px 2px -6px black;
	box-shadow: 0 2px 5px -8px black;
}

input {
  border: solid 3px #ff9800 !important;
  padding: 5px !important;
  background-clip: content-box !important; /* support: IE9+ */
}

.item {
	margin: 1.5rem 0;
}

.cart-styled {
	margin: 0 1rem;
}

.jumbotron {
  background-image: linear-gradient(to right, #66f46b, #5cdd65, #54c75f, #4cb159, #459b52) !important;
}
.jumbotron * {
  color: #000 !important;
}