#main {
	margin-top: 2rem;
	padding: 0 2rem;
	width: 100%;
    height: 100%;
}
#left {
    margin-top: 2rem;
}

h3 {
	padding: 0;
	margin: 0;
}
.bold {
	font-weight: 600;
	font-size: 1.25rem;
}
.btn  {
	max-width: 50% !important;
	width: 50% !important;
	margin:  3% 0 3% 25% !important;
	padding: 0 5px;
}
#main > .row > div {
	border: 1px solid red;
}
.foto-item {
	border: 1px solid grey;
	margin: .75rem 0;
}
.foto-item img {
	display: block;
	height: 100px;
	width: 90px;
	margin: 0 auto;
	margin-bottom: .75rem;
}
form {
	margin: 1.15rem 0;
	padding: 0;
}
strong {
	margin: 2rem !important;
}
.cart-info {
	margin-top: 2rem 0;
}

